@import '_mixin.scss';

:host{
    background-color: #1c1c1c;
    @include gridTemplateGlobalInfo();
    padding: 30px 170px;
    width: 100%;
    color: #525252;
}

img{
    max-width: clamp(224px, 3vw, 240px);
    cursor: pointer;
    animation: moveUp 1s ease-in-out 1 forwards;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

ul{
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color:#8F8F8F;
    animation: moveUp 1s ease-in-out 1 forwards;
    
    li{
        padding: 0 25px 25px 25px;
        border-bottom: 2px solid #8F8F8F;
        font-size: clamp(23px, 1vw, 30px);
        cursor: pointer;

        &:active,
        &:hover{
            color: #fff;
            border-bottom: 2px solid #fff;
        }

        a{
            color: #8F8F8F;
            text-decoration: none;

            &:hover{
                color: #fff;
            }
        }
    }
}

p{
    font-size: clamp(26px, 3vw, 27px);
    animation: moveUp 1s ease-in-out 1 forwards;
}


@keyframes moveUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}