<img src="../../../../assets/icon/logo.svg" alt="Logo" (click)="GoUrls()">

<div>
    <ul>
        <li>
            <a [routerLink]="'main'" routerLinkActive="active">
                Головна
            </a>
        </li>
        <li>
            <a [routerLink]="'services'" routerLinkActive="active">
                Наші послуги
            </a>
        </li>
        <li>
            <a [routerLink]="'about-company'" routerLinkActive="active">
                Про компанію
            </a>
        </li>
        <li>
            <a [routerLink]="'contacts'" routerLinkActive="active">
                Контакти
            </a>
        </li>
    </ul>
    <p>&copy; 2024, ALPINEGATE Business Consulting AG. Всі права захищені.</p>
</div>