:host {
    display: block;
    width: 100%;
}

div {
    width: 100%;
    color: #fff;
    font-family: "Coolvetica C", sans-serif;
    display: inline-block;
    font-size: clamp(16px, 1vw, 600px);
    cursor: pointer;

    &:hover {
        box-shadow: 0px 2px 15px 0px #000;
        background-color: #000;
        color: #fff;
    }
}