<bcs-head-category category="Про компанію"></bcs-head-category>

<div class="about-company">
    <div class="about-company__block1 block">
        <div class="container">
            <h3>
                Розпочніть свій шлях до успіху з командою, яка цінує ваше бачення так само, як і ви
            </h3>
            <p>
                В ALPINEGATE Business Consulting AG нами керує спільне прагнення до досконалості, глибока віра в силу командної
                роботи та ефективні комунікації.
                Наша молода команда зібрала в собі досвідчених фахівців і сформувала професійного постачальника корпоративних
                послуг у Швейцарії. Наша компанія пропонує багатий досвід та знання. Від ведення бухгалтерського обліку та
                отримання дозволів на роботу до реєстрації компанії, податкового планування та корпоративного адміністрування -
                ми охопимо всі ваші потреби. Але ми більше, ніж постачальники послуг, ми - ваші партнери в досягненні успіху.
                Довіряючи нам юридичні аспекти вашого бізнесу, ви використовуєте наші знання та ресурси, щоб уникнути дорогих
                помилок та уникнути потенційних збитків.
            </p>
        </div>
    </div>
    <div class="about-company__block2 block">
        <div class="about-company__block2__list">
            <ul>
                <li><img src="../../../assets/company/company3.jpg" alt="company"></li>
                <li><img src="../../../assets/company/company4.jpg" alt="company"></li>
                <li><img src="../../../assets/company/company5.jpg" alt="company"></li>
                <li><img src="../../../assets/company/company6.jpg" alt="company"></li>
            </ul>
        </div>
        <div class="about-company__block2__text container">
            <p>
                Наша гнучкість - це наша сила, що дозволяє нам обслуговувати як підприємців-початківців, які прагнуть
                заснувати свій бізнес, так і досвідчені компанії, які шукають комплексні рішення з корпоративного
                адміністрування. Наша місія? Спростити ваш шлях до володіння бізнесом, пропонуючи покрокове керівництво
                до оптимальних рішень у всьому спектрі наших послуг.
                Ми пишаємося тим, що надаємо персоналізовані послуги, гарантуючи кожному клієнту індивідуальні
                бізнес-рішення, які охоплюють весь спектр створення та ведення бізнесу у Швейцарії. Наші пропозиції
                включають аудит, трастові послуги та надання фізичних або віртуальних офісів для проведення ділових
                зустрічей.
            </p>
            <p>Наше прагнення до досконалості знаходить своє відображення у створенні мережі спеціалістів, що забезпечує
                комплексну оцінку ваших корпоративних потреб на кожному етапі. Винятковий сервіс, конкурентоспроможні
                ціни та неперевершена якість послуг вирізняють нас на ринку. Але найважливішим членом нашої команди є
                ви, наш клієнт. Наша філософія ґрунтується на партнерських відносинах - ми уважно вислуховуємо,
                консультуємо спільно та будуємо справді рівноправні стосунки, що повністю відповідають вашим інтересам.
            </p>
        </div>
    </div>
    <div class="about-company__block3 block">
        <div class="container">
            <h3>
                "Успіх народжується з фундаменту виняткових особистостей"
            </h3>
            <div class="about-company__block3__director">
                <img src="../../../assets/director.jpg" alt="director">
                <h4>Betsalel Assouline</h4>
                <p class="about-company__block3__director__text">директор ALPINEGATE Business Consulting AG.</p>
                <div class="about-company__block3__director__but" (click)="goToUrl('contacts')">
                    Будемо на зв'язку
                </div>
            </div>
        </div>
    </div>
</div>