<div class="conteiner block">
    <p>
        Швейцарська банківська система є синонімом стабільності, конфіденційності та ефективності, що робить її привабливим
        місцем для тих, хто прагне зберегти свої статки та дослідити інвестиційні можливості.
    </p>
    
    <h2>
        Різноманітна банківська екосистема
    </h2>
    
    <p>
        Пориньте в банківську екосистему, яка настільки ж різноманітна, як і культури та мови, що процвітають у межах
        Швейцарії. Від галасливих вулиць Цюріха до безтурботних долин Тічино – Швейцарія пропонує банківські послуги, які
        виходять за рамки буденності та задовольняють найвибагливіші потреби:
    </p>
</div>

<div class="list">
    <ul class="conteiner block">
        <li>
            <span>
                Особисті рахунки:
            </span>
            Ідеально підходять для осіб, які хочуть керувати своїми повсякденними фінансами або зберігати свої заощадження у
            стабільній валюті. Ці рахунки пропонують зручність, безпеку та швейцарську ефективність.
        </li>
    
        <li>
            <span>
                Бізнес-рахунки:
            </span>
            Призначені для підприємств будь-якого розміру, ці рахунки забезпечують надійну основу для управління операціями,
            від виплати заробітної плати до інвестицій, у всесвітньо відомій швейцарській фінансовій системі.
        </li>
    
        <li>
            <span>
                Інвестиційні рахунки:
            </span>
            Для тих, хто прагне примножити свій капітал, швейцарські банки пропонують інвестиційні рахунки з доступом до
            професійних фінансових консультантів і глобального портфеля.
        </li>
    
        <li>
            <span>
                Приватне банківське обслуговування:
            </span>
            Ексклюзивні послуги приватного банкінгу в Швейцарії задовольняють індивідуальні потреби заможних людей,
            пропонуючи їм персоналізовані послуги з управління капіталом та консультування.
        </li>
    </ul>
</div>

<div class="conteiner block">
    <h3>
        Чому Швейцарія?
    </h3>
    
    <p>
        Обираючи Швейцарію для своїх банківських потреб, ви робите вибір на користь фінансової стабільності та
        конфіденційності. Швейцарські банки відомі своєю розсудливістю та дотриманням як місцевих, так і міжнародних норм,
        гарантуючи, що з вашими активами будуть працювати з максимальною обережністю та професіоналізмом.
    </p>

    <h3>
        Ми допоможемо з вашими бізнес-потребами
    </h3>

    <p>
        Дізнайтеся, як відкриття банківського рахунку в Швейцарії може покращити вашу фінансову стратегію. Зв’яжіться з нами
        сьогодні, щоб дізнатися більше про наші індивідуальні послуги та про те, як ми можемо допомогти вам розкрити весь
        потенціал швейцарського банкінгу. Ваша подорож до фінансової досконалості починається тут.
    </p>
</div>

<div class="conteiner potential">
    <bcs-business-potential></bcs-business-potential>
</div>