<div class="container">
    <img src="../../../../assets/icon/logo.svg" alt="Logo" (click)="GoUrls()">
    
    <ul *ngIf="isListVisible">
        <li>info&#64;alpinegate.ch</li>
        <li>+41 79 948 33 33</li>
        <li>Зворотній дзвінок</li>
    </ul>
    <div class="menu" (click)="menuActivate()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
            <rect y="23%" width="100%" height="10%" fill="#fff" />
            <rect y="56%" width="100%" height="10%" fill="#fff" />
            <rect y="89%" width="100%" height="10%" fill="#fff" />
        </svg>
    </div>
    <bcs-mini-menu *ngIf="miniMenu" (closeEvent)="close()"></bcs-mini-menu>
</div>