:host{
    width: 100%;
    position: fixed;
    padding: 22px 10px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
}
img{
    max-width: clamp(128px, 6vw ,192px);
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 725px;
    width: 100%;
    list-style: none;
    font-size: 22px;

    li{
        color: #fff;
        margin-right: 15px;
        padding: 5px 20px;
        cursor: pointer;
        
        &:nth-child(1),
        &:nth-child(2){
            border-left: 2px solid #fff;
        }

        &:nth-child(3){
            background-color: #fff;
            color: #000;
        }
    }
}

.menu{
    display: flex;
    justify-content: center;
    padding: 12px 17px;
    max-width: clamp(57px, 4vw, 65px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    
    &:hover{
        background-color: rgba(0, 0, 0, 0.45);}
}