@media screen and (max-width: 1024px) {
    :host{
        padding: 10px;
    }

    .menu{
        padding: 9px 5px;
    }
}

@media screen and (max-width: 768px) {
    .menu{
        padding: 5px;
    }
}