<bcs-head-category [category]="'Наші послуги'" ></bcs-head-category>
<div class="conteiner block right">

    <h3>
        Подолання податкового лабіринту Швейцарії.
    </h3>
    
    <p>
        Податкова система Швейцарії – це мозаїка федеральних, кантональних і комунальних податків, кожен з яких має власні
        правила та ставки. Такий багаторівневий підхід пропонує унікальні можливості для оптимізації, але тільки для тих,
        хто знає, як орієнтуватися в її складнощах.
    </p>

    <p>
        Маючи 26 кантонів, кожен з яких встановлює власні податкові ставки, відрахування та пільги, Швейцарія пропонує
        калейдоскоп можливостей для податкового планування. Наш досвід полягає в тому, щоб знайти найбільш сприятливу
        юрисдикцію для ваших особистих і ділових фінансів, перетворивши федеральний устрій Швейцарії на вашу перевагу.
    </p>
</div>

<div class="list">
    <ul class="conteiner block left">
        <li>
            <span>
                Інноваційні податкові стимули:
            </span>
            Швейцарія відома своїми прогресивними податковими стимулами, особливо для досліджень і розробок, стартапів та
            транснаціональних корпорацій. Ми глибоко вивчаємо ці можливості, щоб ви могли скористатися всіма доступними
            стимулами для сприяння інноваціям та зростанню.
        </li>
        
        <li>
            <span>
                Міжнародний комплаєнс та оптимізація:
            </span>
            Для компаній та приватних осіб, які мають міжнародні інтереси, мережа угод Швейцарії про уникнення подвійного
            оподаткування є основою для ефективного міжнародного податкового планування. Наші консультанти вміло
            використовують ці угоди на вашу користь, забезпечуючи дотримання та оптимізацію податкового законодавства на
            глобальному рівні.
        </li>
    </ul>
</div>

<div class="conteiner block left">
    <p>
        <span style="font-style: italic;"> 
            Наші послуги виходять за рамки простого дотримання швейцарського податкового законодавства
        </span>
        <span style="font-weight: 600;">
            Проактивне податкове планування:
        </span>
        Ми не просто реагуємо на зміни, ми їх передбачаємо. Наш проактивний підхід до податкового планування
        гарантує, що ви завжди будете на крок попереду, отримуючи вигоду від найактуальніших та найвигідніших податкових
        стратегій.
    </p>

    <ul>
        <li>
            <span>
                Індивідуальні рішення:
            </span>
            Ваш фінансовий ландшафт унікальний. Наші податкові консультації адаптовані до вашої конкретної ситуації,
            незалежно від того, чи є ви підприємцем, міжнародною корпорацією або приватною особою, яка орієнтується в
            складнощах управління капіталом.
        </li>
        
        <li>
            <span>
                Розширення можливостей для прийняття рішень:
            </span>
            Знання – це сила, особливо коли йдеться про податки. Ми забезпечимо вас інформацією та розумінням, необхідними
            для прийняття обґрунтованих рішень щодо ваших фінансів, перетворюючи податки з пасиву на актив.
        </li>
    </ul>
</div>

<div class="conteiner potential">
    <bcs-business-potential></bcs-business-potential>
</div>