<div class="contacts" style="background-image: url(../../../assets/mountains2.jpg);">
    <div class="contacts__title">
        <div class="container">
            <h3>Контакти</h3>
        </div>
    </div>
    <div class="contacts__block">
        <div class="container contacts__block__text">
            <p (click)="goToUrl('main')"> Головна</p>
            <span></span>
            <p (click)="goToUrl('')">{{ category }}</p>
            
            <div class="contacts__block__text__children" *ngIf="isChildren">
                <span></span>
                <p>{{ children }}</p>
            </div>
        </div>
    </div>
</div>