
<!-- CONTACTS -->
<div class="contacts" style="background-image: url(../../../assets/mountains2.jpg);">
    <div class="contacts__title">
        <div class="container">
            <h3>Контакти</h3>
        </div>
    </div>
    <div class="contacts__block">
        <div class="container contacts__block__text">
            <p (click)="goToUrl()"> Головна</p>
            <span></span>
            <p>Контакти</p>
        </div>
    </div>
</div>
<!-- END CONTACTS -->

<!-- FORM -->
<div class="response">
    <div class="container">
        <h1>Потребуєте правильного рішення для ваших бізнес-потреб?
            <br>
            Зверніться до нас за індивідуальною консультацією.
        </h1>
    </div>

    <div class="response__info">
        <h3>Залиште свій запит</h3>
        <p>Наші фахівці зв'яжуться з вами найближчим часом</p>
    </div>

    <div class="response__form">
        <form action="">
            <div class="row1">
                <input type="text" placeholder="Ваше ім'я">
                <input type="text" placeholder="Номер телефону">
                <input type="email" placeholder="Email">
            </div>
            <textarea name="text" id="" cols="30" rows="10" placeholder="Текст запиту"></textarea>
            <div class="row2">
                <input type="button" value="" value="Надіслати">
                <div class="row2__policy">
                    <input type="checkbox" name="" id="">
                    <p>Натискаючи кнопку, ви даєте згоду на обробку ваших персональних даних та погоджуєтеся з <a href=""> політикою конфіденційності</a>.</p>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END FORM -->
