@import '_mixin.scss';
$colorWhite: #fff;
$colorBlack: #000;

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    max-width: 1470px;
    width: 100%;
}

.response{
    display: grid;
    grid-template-columns: 1fr;
    margin: 100px auto;
    max-width: 2000px;
    width: 100%;
    
    &__info{
        position: relative;
        top: 18%;
        background-color: #1c1c1c;
        color: $colorWhite;
        padding: 40px 47px;
        max-width: 531px;
        width: 100%;
        height: auto;

        h3{
            font-size: clamp(20px, 3vw, 40px);
            letter-spacing: 2px;
            line-height: 1;
            margin: 0 0 17px;
        }

        p{
            font-size: 16px;
            color: #D9D9D9;
        }
    }

    h1{
        text-transform: uppercase;
        font-size: clamp(18px, 4vw, 50px);
        letter-spacing: 3px;
        line-height: 1;
    }
}