
<!-- CONTACTS -->
<bcs-head-category category="Контакти"></bcs-head-category>
<!-- END CONTACTS -->

<!-- FORM -->
<div class="response">
    <h1>Потребуєте правильного рішення для ваших бізнес-потреб?
        <br>
        Зверніться до нас за індивідуальною консультацією.
    </h1>

    <div class="response__info">
        <h3>Залиште свій запит</h3>
        <p>Наші фахівці зв'яжуться з вами найближчим часом</p>
    </div>
    
    <bcs-request-form></bcs-request-form>
</div>
<!-- END FORM -->
