@media only screen and (max-width: 4000px) {
    ul{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px 80px;

        li{
            
            &:nth-child(1), &:nth-child(2), &:nth-child(5), &:nth-child(6){
                animation: moveRight 1s ease-in-out 1 forwards;
            }
            
            &:nth-child(3),&:nth-child(4), &:nth-child(7), &:nth-child(8){
                animation: moveLeft 1s ease-in-out 1 forwards;
            }
        }
    }
}

@media only screen and (max-width: 2000px) {
    ul{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
        margin: 40px;

    }
}

@media only screen and (max-width: 1440px) {
    ul{
        grid-template-columns: repeat(2, 1fr);
        margin: 40px;

        li{

            &:nth-child(2n+1) {
                animation: moveRight 1s ease-in-out 1 forwards;                
            }
            &:nth-child(2n) {
                animation: moveLeft 1s ease-in-out 1 forwards;
              }
              
        }
    }
}

@media only screen and (max-width: 768px) {
    ul{
        grid-template-columns: 1fr;
        margin: 40px;
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}