<bcs-head-category></bcs-head-category>

<ul>
    <li><bcs-services-country img="__registr" text="Реєстрація компанії" link="registration"></bcs-services-country></li>
    <li><bcs-services-country img="__accounting" text="Облік" link="accounting"></bcs-services-country></li>
    <li><bcs-services-country img="__audit" text="Аудит" link="audit."></bcs-services-country></li>
    <li><bcs-services-country img="__admin" text="Корпоративне адміністрування" link="admin"></bcs-services-country></li>
    <li><bcs-services-country img="__tax" text="Податкове консультування" link="tax"></bcs-services-country></li>
    <li><bcs-services-country img="__registr2" text="Trademark Registration" link="registr2"></bcs-services-country></li>
    <li><bcs-services-country img="" text="Фідуціарні послуги" link="hg"></bcs-services-country></li>
    <li><bcs-services-country img="__score" text="Відкриття банківського рахунку" link="score"></bcs-services-country></li>
</ul>