<bcs-head-category [category]="'Наші послуги'" ></bcs-head-category>

<ul>
    <li>
        <a [routerLink]="'registration'" routerLinkActive="active">
            <bcs-services-country img="__registr" text="Реєстрація компанії"></bcs-services-country>
        </a>
    </li>
    <li>
        <a [routerLink]="'accounting'" routerLinkActive="active">
            <bcs-services-country img="__accounting" text="Облік"></bcs-services-country>
        </a>
    </li>
    <li>
        <a [routerLink]="'audit'" routerLinkActive="active">
            <bcs-services-country img="__audit" text="Аудіт"></bcs-services-country>
        </a>
    </li>
    <li>
        <a [routerLink]="'corporate-admin'" routerLinkActive="active">
            <bcs-services-country img="__admin" text="Корпоративне адміністрування"></bcs-services-country>
        </a>
    </li>
    <li>
        <a [routerLink]="'tax'" routerLinkActive="active">
            <bcs-services-country img="__tax" text="Податкове консультування"></bcs-services-country>
        </a>
    </li>
    <li>
        <a [routerLink]="'trademark-registration'" routerLinkActive="active">
            <bcs-services-country img="__registr2" text="Trademark Registration"></bcs-services-country>
        </a>
    </li>
    <li>
        <a [routerLink]="'fiduciary-services'" routerLinkActive="active">
            <bcs-services-country img="" text="Фідуціарні послуги"></bcs-services-country>
        </a>
    </li>
    <li>
        <a [routerLink]="'bank-account'" routerLinkActive="active">
            <bcs-services-country img="__bank-account" text="Відкриття банківського рахунку"></bcs-services-country>
        </a>
    </li>
</ul>