<!-- HEAD -->
<div class="up" >

    <div class="up__head">
        <div class="up__head__title">
            <h1>відчуйте</h1>
            <p class="up__head__title__info">
                Власну
                <br>
                Бізнес перевагу
            </p>
        </div>
        <p class="up__head__but">
            Більше інформації
        </p>
    </div>

    <div class="up__list">
        <ul>
            <li>
                <span>
                    <img src="../../../assets/icon/registration.svg" alt="registration">
                </span>
                <p>
                    Реєстрація компанії
                </p>
            </li>
            <li>
                <span>
                    <img src="../../../assets/icon/accounting.svg" alt="accounting">
                </span>
                <p>
                    Облік
                </p>
            </li>
            <li>
                <span>
                    <img src="../../../assets/icon/audit.svg" alt="audit">
                </span>
                <p>
                    Аудит
                </p>
            </li>
            <li>
                <span>
                    <img src="../../../assets/icon/business-center.svg" alt="">
                </span>
                <p>
                    Відкриття банківського рахунку
                </p>
            </li>
            <li>
                <span>
                    <img src="../../../assets/icon/admin.svg" alt="admin">
                </span>
                <p>
                    Корпоративне адміністрування
                </p>
            </li>
            <li>
                <span>
                    <img src="../../../assets/icon/services.svg" alt="">
                </span>
                <p>
                    Фідуціарні послуги
                </p>
            </li>
            <li>
                <span>
                    <img src="../../../assets/icon/tax.svg" alt="">
                </span>
                <p>
                    Податкове консультування
                </p>
            </li>
        </ul>
    </div>
</div>
<!-- END HEAD -->

<!-- INFO -->
<div class="info">
    <img src="../../../assets/company/company_1.jpg" alt="company" class="info_img1"/>
    <div class="info__text">
        <h2>Про компанію</h2>
        <p>ALPINEGATE Business Consulting AG - це висококваліфікована команда, яка пропонує комплексні бізнес-рішення у
            Швейцарії. Наші універсальні фахівці володіють широким спектром послуг, від бухгалтерського обліку та
            отримання дозволів на роботу для співробітників до створення компанії, податкового консалтингу,
            компетентного управління компанією та багато іншого.
            Наші зобов'язання виходять за рамки простого створення компанії; ми хочемо супроводжувати вас на шляху до
            успіху.</p>
    </div>
    <p class="info__part2">Ми усвідомлюємо, що потреби кожного клієнта є унікальними, і наш широкий спектр пропозицій відображає цю
        універсальність. Ми обслуговуємо як підприємців-початківців, які бажають розпочати свій бізнес, так і вже
        існуючі компанії, які шукають комплексні бізнес-рішення.
        Наша місія проста: оптимізувати ваші процеси, підтримати вас у створенні вашого бізнесу, а потім направити вас
        до оптимальних рішень з нашого спектру послуг.</p>
    <img src="../../../assets/company/company_2.jpg" alt="company" class="info_img1"/>
</div>

<!-- END INFO -->

<!-- SERVICE -->
<div class="service" style="background-image: url(../../../assets/sunset.jpg);">
    <div >
        <h2>Наші послуги</h2>
        <div class="service__info">
            <div class="service__info__title">
                <div>
                    <img [src]="'../../../assets/icon/' + image + '.svg'" [alt]="image" />
                </div>
                <p>{{ title }}</p>
            </div>
            <p class="service__info__text">
                {{ text}}
            </p>
        </div>
        <ul class="service__list">
            <li *ngFor="let item of dataServ" (click)="clickService(item)">
                <div>
                    <img [src]="'../../../assets/icon/' + item.image + '.svg'" [alt]="image" />
                </div>
                <p>{{ item.title }}</p>
            </li>
        </ul>
    </div>
</div>
<!-- END SERVICE -->

<!-- FORM -->
<div class="response">

    <div class="response__info">
        <h3>Залиште свій запит</h3>
        <p>Наші фахівці зв'яжуться з вами найближчим часом</p>
    </div>
    
    <h1>давайте працювати разом</h1>

        
    <form action="">
        <div class="row1">
            <input type="text" placeholder="Ваше ім'я">
            <input type="text" placeholder="Номер телефону">
            <input type="email" placeholder="Email">
        </div>
        <textarea name="text" id="" cols="30" rows="10" placeholder="Текст запиту"></textarea>
        <div class="row2">
            <input type="button" value="" value="Надіслати">
            <div class="row2__policy">
                <input type="checkbox" name="" id="">
                <p>
                    Натискаючи кнопку, ви даєте згоду на обробку ваших персональних даних та погоджуєтеся з
                    <a href="">
                        політикою конфіденційності
                    </a>
                    .
                </p>
            </div>
        </div>
    </form>
</div>
<!-- END FORM -->

<!-- ANNOUNCEMENT -->

<div class="announcement">
    <div class="announcement__anima">
        <p>
            давайте обговоримо сьогодні!
        </p>
    </div>
</div>
<!-- END ANNOUNCEMENT -->

<!-- MAP -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d169.5244956070099!2d8.51565272153955!3d47.16976248872135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900a030444a48f%3A0x84d42ace2b057e6d!2sKENSINGTON%20Finest%20Properties%20International%20AG!5e0!3m2!1sru!2sua!4v1712588617806!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="map__info">
        <h2>Контакти</h2>
        <ul>
            <li>
                <div>
                    <img src="../../../assets/icon/phone.svg" alt="phone"/>
                </div>
                <a href="tel:+41799483333">
                    +41 79 948 33 33
                </a>
            </li>
            <li>
                <div>
                    <img src="../../../assets/icon/location.svg" alt="location"/>
                </div>
                <p>
                    Bahnhofstrasse 21, 6300 Zug, Switzerland
                </p>
            </li>
            <li>
                <div>
                    <img src="../../../assets/icon/email.svg" alt="e-mail"/>
                </div>
                <a href="mailto:info@alpinegate.ch">
                    info&#64;alpinegate.ch
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- END MAP -->