@import '_mixin.scss';

$colorWhite: #fff;
$colorBlack: #000;
$font-family-Teko: "Teko", sans-serif;
$font-family-Roboto: 'Roboto', sans-serif;

.info{
    @include gridTemplateInfo();
    padding: 80px 200px;

    &__img1, &__part2{
        animation: moverighte 1s ease-in-out 1 forwards;
    }

    &__img2, &__text{
        animation: moveleft 1s ease-in-out 1 forwards;
    }

    h2{
        font-family: $font-family-Teko;
        color: $colorBlack;
        margin: -10px 0 30px;
        font-size: clamp(30px, 1vw, 80px);
        letter-spacing: 2px;
    }

    p{
        font-size:  clamp(15px, 1vw, 35px);
        font-family: $font-family-Roboto;
        line-height: 2;
    }
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    max-width: 1470px;
    width: 100%;
}

.response{
    display: grid;
    justify-items: center;
    @include gridTemplateResponse();
    margin: 100px auto;
    max-width: 2000px;
    width: 100%;
    
    &__info{
        position: relative;
        top: 18%;
        background-color: #1c1c1c;
        color: $colorWhite;
        padding: 40px 47px;
        max-width: 531px;
        width: 100%;
        height: auto;
        animation: moverighte 1s ease-in-out 1 forwards;

        h3{
            font-size: clamp(20px, 3vw, 40px);
            letter-spacing: 2px;
            line-height: 1;
            margin: 0 0 17px;
        }

        p{
            font-size: 16px;
            color: #D9D9D9;
        }
    }

    h1{
        text-transform: uppercase;
        font-size: 50px;
        letter-spacing: 3px;
        line-height: 1;
        animation: moveleft 1s ease-in-out 1 forwards;
    }

}

.announcement{
    padding: 30px 0;
    background-color:$colorBlack;
    text-transform: uppercase;
    color: #525252;
    line-height: 1;
    position: relative;
    z-index: 2;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 40px;
    
    &__anima{
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        min-width: 100%;
        gap: 40px;
        animation: marquee 20s linear infinite;
    }

    p{
        white-space: nowrap;
        font-size: clamp(35px, 3vw, 75px);
        letter-spacing: 3px;
        word-spacing: .05em;
        flex: 0 0 auto;
        transition: all 0.1s ease-in-out;
        font-family: $font-family-Teko;
    }
}

.map{
    width: 100%;
    height: 710px;
    position: relative;

    iframe{
        width: 100%;
        height: 716px;
    }
    
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 87px;
        position: absolute;
        right: 10%;
        bottom: 10%;
        background-color: $colorWhite;
        animation: moveleft 1s ease-in-out 1 forwards;

        h2{
            margin-bottom: 100px;
            font-size: 46px;
            letter-spacing: 2px;
        }

        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;
            height: 215px;

            li{
                display: flex;
                
                div{
                    padding: 10px;
                    margin-right: 22px;
                    background-color: $colorBlack;
                    display: flex;
                    align-items: center;
                    max-width: 43px;
                    width: 100%;
                }
                
                p,a{
                    font-size: clamp(16px, 3vw, 26px);
                }

                a{
                    text-decoration: none;
                    color: $colorBlack;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


@keyframes moverighte {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes moveleft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
