@import '_mixin.scss';

$colorWhite: #fff;
$colorBlack: #000;
$font-family-Teko: "Teko", sans-serif;
$font-family-Roboto: 'Roboto', sans-serif;

.up{
    background-image: url(../../../assets/mountains.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__head{
        display: flex;
        flex-direction: column;
        margin: 200px auto;
        color: $colorWhite;

        &__title{
            display: flex;
            @include gridTemplateHead();
            margin-bottom: 30px;

            &__info{
                margin-left: 15px;
                font-family: $font-family-Teko;
                font-weight: 500;
                letter-spacing: 4px;
                font-size: clamp(10px, 2vw, 25px);

            }
        }

        &__but{
            padding: 7px 16px;
            width: 268px;
            height: 48px;
            background-color: rgba(0, 0, 0, 0.5);
            color:  $colorWhite;
            font-size: 26px;
            text-align: center;
            cursor: pointer;
        }
    }

    &__list{
        padding: 28px 0;
        position: relative;
        bottom: 0;
        background-color: rgb(131 130 130 / .51);
        overflow: hidden;
        display: flex;
        
        ul{
            display: flex;
            align-items: center;
            list-style: none;
            animation: marquee 20s linear infinite;
        }

        li{
            display: flex;
            margin-left: 15px;
            align-items: center;
            
            span{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-right: 30px;
                padding: 10px;
                background-color: #1c1c1c;

                img{
                    opacity: 1;
                    max-width: 26px;
                    height: auto;
                }
            }
            p{
                font-size: clamp(5px, 1vw, 48px);
            }
        }
    }

    h1{
        margin: 0;
        text-transform: uppercase;
        font-family: $font-family-Teko;
        font-weight: 500;
        font-size: clamp(25px, 5vw, 120px);
        line-height: 0.8;
        letter-spacing: 10px;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.info{
    @include gridTemplateInfo();
    padding: 80px 200px;

    h2{
        font-family: $font-family-Teko;
        color: $colorBlack;
        margin: -10px 0 30px;
        font-size: 54px;
        letter-spacing: 2px;
    }

    p{
        font-size: 15px;
        font-family: $font-family-Roboto;
        line-height: 2;
    }
}

.service{
    padding: 40px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    color: $colorWhite;

    &>div{
        max-width: 1470px;
        width: 100%;
        margin: 70px auto 25px;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: -1;
    }
    
    h2{
        margin: 0 0 55px;
        font-size: clamp(30px, 3vw, 54px);
        line-height: 1;
        letter-spacing: 3px;
    }

    &__info{
        display: flex;
        justify-content: space-between; 
        align-items: center;
        
        &__title{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 24px;
            max-width: 430px;
            width: 100%;
            background-color:  $colorWhite;

            div{
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 49px;
                height: 49px;
                background-color: $colorBlack;
                
                img{
                    max-width: 26px;
                    height: auto;
                }
            }

            p{
                font-size: 29px;
                color: $colorBlack;
            }
        }

        &__text{
            font-size: 18px;
            line-height: 1.6;
            margin-left: 64px;
            color: $colorWhite;
            font-family: $font-family-Roboto;   
        }
    }

    &__list{
        display: grid;
        @include gridTemplateServiceList();

        li{
            padding: 24px;
            display: flex;
            align-items: center;
            background-color: $colorWhite;
            cursor: pointer;

            div{
                margin-right: 16px;
                display: flex;
                justify-content: center;
                background-color: $colorBlack;
                max-width: 47px;
                width: 100%;
                height: 47px;

                img{
                    max-width: 26px;
                }
            }

            p{
                font-size: 21px;
                color: $colorBlack;
            }
        }
    }
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    max-width: 1470px;
    width: 100%;
}

.response{
    display: grid;
    justify-items: center;
    @include gridTemplateResponse();
    margin: 100px auto;
    max-width: 2000px;
    width: 100%;
    
    &__info{
        position: relative;
        top: 18%;
        background-color: #1c1c1c;
        color: $colorWhite;
        padding: 40px 47px;
        max-width: 531px;
        width: 100%;
        height: auto;

        h3{
            font-size: clamp(20px, 3vw, 40px);
            letter-spacing: 2px;
            line-height: 1;
            margin: 0 0 17px;
        }

        p{
            font-size: 16px;
            color: #D9D9D9;
        }
    }

    h1{
        text-transform: uppercase;
        font-size: 50px;
        letter-spacing: 3px;
        line-height: 1;
    }
    form{
        background-color: $colorWhite;
        max-width: 1345px;
        width: 100%;
        grid-column: 1 / -1;
        z-index: 1;

        .row1{
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            
            input{
                margin: 10px;
                padding: 18px 23px;
                display: block;
                max-width: 330px;
                width: 100%;
                height: 63px;
                font-size: 22px;
                line-height: 1.42857143;
                color: $colorBlack;
                background-color: $colorWhite;
                border: 2px solid $colorBlack;
                font-family: $font-family-Roboto;
            }
        }

        textarea{
            padding: 18px 23px;
            margin-bottom: 40px;
            display: block;
            border: 2px solid $colorBlack;
            background-color: $colorWhite;
            color: $colorBlack;
            width: 100%;
            max-height: 150px;
            font-family: $font-family-Roboto;    
            font-size: 22px;
            line-height: 1.42857143;
        }

        .row2{
            display: flex;
            justify-content: space-between;

            input{
                margin-right: 15px;
                display: inline-block;
                padding: 7px 16px;
                background-color: #1c1c1c;
                border: 1px solid #1c1c1c;
                max-width: 230px;
                width: 100%;
                height: 63px;
                font-family: $font-family-Roboto;
                font-size: 26px;
                color: $colorWhite;
                cursor: pointer;
            }

            &__policy{
                display: flex;
                justify-content: space-between;

                input{
                    width: 15px;
                    height: 15px;
                }

                p{
                    color: #A3A3A3;
                    font-size: 18px;
                    order: 2;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    letter-spacing: normal;

                    a{
                        color: $colorBlack;
                        
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.announcement{
    padding: 30px 0;
    background-color:$colorBlack;
    text-transform: uppercase;
    color: #525252;
    line-height: 1;
    position: relative;
    z-index: 2;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 40px;
    
    &__anima{
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        min-width: 100%;
        gap: 40px;    
    }

    p{
        white-space: nowrap;
        font-size: clamp(35px, 3vw, 75px);
        letter-spacing: 3px;
        word-spacing: .05em;
        flex: 0 0 auto;
        transition: all 0.1s ease-in-out;
        font-family: $font-family-Teko;
    }
}

.map{
    width: 100%;
    height: 710px;
    position: relative;

    iframe{
        width: 100%;
        height: 716px;
    }
    
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 87px;
        position: absolute;
        right: 10%;
        bottom: 10%;
        background-color: $colorWhite;

        h2{
            margin-bottom: 100px;
            font-size: 46px;
            letter-spacing: 2px;
        }

        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;
            height: 215px;

            li{
                display: flex;
                
                div{
                    padding: 10px;
                    margin-right: 22px;
                    background-color: $colorBlack;
                    display: flex;
                    align-items: center;
                    max-width: 43px;
                    width: 100%;
                }
                
                p,a{
                    font-size: clamp(16px, 3vw, 26px);
                }

                a{
                    text-decoration: none;
                    color: $colorBlack;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}