<div class="up" style="background-image: url(../../../assets/mountains.jpg);">

    <div class="up__head">
        <div class="up__head__title">
            <h1>ВІДЧУЙТЕ</h1>
            <p class="up__head__title__info">
                Власну
                <br>
                Бізнес перевагу
            </p>
        </div>
        <p class="up__head__but">
            Більше інформації
        </p>
    </div>

    <ul>
        <li>
            <span>
                <img src="../../../assets/icon/registration.svg" alt="registration">
            </span>
            <p>
                Реєстрація компанії
            </p>
        </li>
        <li>
            <span>
                <img src="../../../assets/icon/accounting.svg" alt="accounting">
            </span>
            <p>
                Облік
            </p>
        </li>
        <li>
            <span>
                <img src="../../../assets/icon/audit.svg" alt="audit">
            </span>
            <p>
                Аудит
            </p>
        </li>
        <li>
            <span>
                <img src="../../../assets/icon/business-center.svg" alt="">
            </span>
            <p>
                Відкриття банківського рахунку
            </p>
        </li>
        <li>
            <span>
                <img src="../../../assets/icon/admin.svg" alt="admin">
            </span>
            <p>
                Корпоративне адміністрування
            </p>
        </li>
        <li>
            <span>
                <img src="../../../assets/icon/services.svg" alt="">
            </span>
            <p>
                Фідуціарні послуги
            </p>
        </li>
        <li>
            <span>
                <img src="../../../assets/icon/tax.svg" alt="">
            </span>
            <p>
                Податкове консультування
            </p>
        </li>
    </ul>
</div>

<div class="info">
    <img src="../../../assets/company_1.jpg" alt="company"/>
    <div class="info__text">
        <h2>Про компанію</h2>
        <p>ALPINEGATE Business Consulting AG - це висококваліфікована команда, яка пропонує комплексні бізнес-рішення у
            Швейцарії. Наші універсальні фахівці володіють широким спектром послуг, від бухгалтерського обліку та
            отримання дозволів на роботу для співробітників до створення компанії, податкового консалтингу,
            компетентного управління компанією та багато іншого.
            Наші зобов'язання виходять за рамки простого створення компанії; ми хочемо супроводжувати вас на шляху до
            успіху.</p>
    </div>
    <p>Ми усвідомлюємо, що потреби кожного клієнта є унікальними, і наш широкий спектр пропозицій відображає цю
        універсальність. Ми обслуговуємо як підприємців-початківців, які бажають розпочати свій бізнес, так і вже
        існуючі компанії, які шукають комплексні бізнес-рішення.
        Наша місія проста: оптимізувати ваші процеси, підтримати вас у створенні вашого бізнесу, а потім направити вас
        до оптимальних рішень з нашого спектру послуг.</p>
    <img src="../../../assets/company_2.jpg" alt="company"/>
</div>

<div class="service" style="background-image: url(../../../assets/sunset.jpg);">
    <h2>Наші послуги</h2>
    <div class="service__info">
        <div class="service__info__title">

        </div>
        <p>
            Наші послуги з фінансового аудиту ретельно розроблені, щоб гарантувати, що ваша організація відповідає
            найвищим стандартам фінансової точності та нормативно-правової відповідності. Наша команда аудиторів
            застосовує ретельний підхід, заснований на оцінці ризиків, для перевірки вашої фінансової звітності,
            виявлення можливостей для вдосконалення та забезпечення належної фінансової практики.
        </p>
    </div>
    <ul>
        <li>
            <img src="" alt=""/>
            <p></p>
        </li>
        <li>
            <img src="" alt=""/>
            <p></p>
        </li>
        <li>
            <img src="" alt=""/>
            <p></p>
        </li>
        <li>
            <img src="" alt=""/>
            <p></p>
        </li>
        <li>
            <img src="" alt=""/>
            <p></p>
        </li>
        <li>
            <img src="" alt=""/>
            <p></p>
        </li>
    </ul>
</div>