<form action="">
    <div class="row1">
        <input type="text" placeholder="Ваше ім'я">
        <input type="text" placeholder="Номер телефону">
        <input type="email" placeholder="Email">
    </div>
    <textarea name="text" id="" cols="30" rows="10" placeholder="Текст запиту"></textarea>
    <div class="row2">
        <input type="button" value="" value="Надіслати">
        <div class="row2__policy">
            <input type="checkbox" name="" id="">
            <p>
                Натискаючи кнопку, ви даєте згоду на обробку ваших персональних даних та погоджуєтеся з
                <a href="">
                    політикою конфіденційності
                </a>
                .
            </p>
        </div>
    </div>
</form>