:host{
    font-size: clamp(12px, 1vw, 35px);
}

.conteiner{
    margin: 0 auto;
    width: 80%;
}

.block{
    padding: 55px 0;

}

.right{
    animation: moveRight 1s ease-in-out 1 forwards;
}

.left{
    animation: moveLeft 1s ease-in-out 1 forwards;
}

h1{
    font-size: clamp(18px, 2vw, 70px);
    margin-bottom: 30px;
}

.text{
    background-color: #f5f5f5;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 25px;
    line-height: 1.5;
}

span{
    font-weight: 600;
}

.potential{
    margin-bottom: 90px;
}

@keyframes moveRight {
    0% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(0%);
    }
}